:root {
  --primary-color: #a07e5f;
  --secondary-color: #624426;
  --complement-color: #5f81a0;
}

* {
  color: var(--complement-color);
  margin: 0;
  font-family: Lora;
}

body {
  background-image: url("assests/Beans.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-color: var(--primary-color);
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
}

#coffee-display {
  margin: 0 auto;
}
#header {
  text-align: center;
  color: var(--complement-color);
}
#navbar {
  padding: 0;
  text-align: center;
}

#navbar-toggle-button {
  color: var(--secondary-color);
  background-color: var(--complement-color);
}
.nav-bar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  color: whitesmoke;
}

.title {
  color: whitesmoke;
  font-family: Bebas Neue;
}

/*#sidebar-navbar {*/
/*  background-color: var(--primary-color);*/
/*}*/

.side-bar {
  background-color: var(--secondary-color);
}

#side-bar-button {
  color: var(--secondary-color);
  background-color: var(--complement-color);
}

.toggle-buttons {
  color: var(--complement-color);
}

#side-bar-header {
  text-align: right;
}

.top-buffer {
  margin-top: 75px;
}

#coffee-display {
  display: flex;
}

.card {
  background: var(--secondary-color);
}

.card-title {
  color: whitesmoke;
}

.create-button {
  background-color: var(--complement-color);
  color: var(--secondary-color);
}

.landing-card {
  color: whitesmoke;
  width: 60vh;
  margin-top: 2em;
  border: 3px solid var(--complement-color);
  /*background-image: url("assests/bagObeans.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-position: left center;*/
}

#card-img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

#slogan {
  color: var(--complement-color);
}

.landing-card-container {
  height: 70vh;
}

.footer {
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2em;
}
